<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>336747751086-6dg9g0v8pjpcjr4ptek1n5einig9m2a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336747751086-6dg9g0v8pjpcjr4ptek1n5einig9m2a0</string>
	<key>API_KEY</key>
	<string>AIzaSyBk8bj7GotgT958weXuwu1z00-he6RFjSU</string>
	<key>GCM_SENDER_ID</key>
	<string>336747751086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vwacc.tutorMatchingApp</string>
	<key>PROJECT_ID</key>
	<string>tutormatching-1541621401347</string>
	<key>STORAGE_BUCKET</key>
	<string>tutormatching-1541621401347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336747751086:ios:b973d1fd083b90a5</string>
	<key>DATABASE_URL</key>
	<string>https://tutormatching-1541621401347.firebaseio.com</string>

</dict>
</plist>